
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


#cabecera {
    background-color: #336699;
    color: #fff;
    text-align: center;
    padding: 20px;
}


#informacion {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
}

#informacion h2 {
    color: #336699;
}


.introduccion {
    font-size: 1.2em;
    color: #555;
}


.experiencia {
    font-size: 1.2em;
    color: #444;
}


#proyectos {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

#proyectos h2 {
    color: #336699;
}

.proyecto {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 10px;
}


#contacto {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

#contacto .contacto-info {
    font-size: 1.1em;
}

.contenedor {
    text-align: center;
}

img {
    max-width: 100%; 
    height: auto; 
}



#pie {
    background-color: #336699;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
}